* {
	padding: 0;
	margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
	/* display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; */
	font-family: 'Press Start 2P', cursive;
	background-image: url("./assests/christmas_background.png");
}

.testingColors {
	color: rgba(46, 37, 37, 0.677);
}